#form {
  background-color: #609c00c5;// #37385F;
  color: #D7D7EF;
  // font-family: 'Lato', sans-serif;
}

input[type=email] {
  color: #D7D7EF;
}

.container {
  //margin-top: 20px;
  //background-color: #37385F;
  max-width: 50%;
  align-self: center;
  align-content: center;
  align-items: center;
}
